extends layout.pug
block content
  section(class!="w-full bg-gray-600 mx-auto text-white flex flex-wrap jumbotron-colored")
    h1(class!="text-4xl mt-4").font-bold.font-400.mb-4.text-center.w-full Contact
    section(class!="text-center mb-3 w-full text-lg") Got an Idea? Leave us a note.




