doctype html
html(lang="eng")
  head
    object(type="text/html" data="/.netlify/functions/server")
    meta(charset="UTF-8")
    meta(http-equip="X-UA-Compatible" content='IE=edge')
    meta(name="description" content="Kamal Group")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Solutions | Kamal Group
    //- link(href="/static/css/main.css" rel="stylesheet")
    link(href="https://res.cloudinary.com/karsoft92/raw/upload/v1567667548/main.css" rel="stylesheet")


    script(src="https://kit.fontawesome.com/f2cff420a4.js")
body.bg-gray-200
  section.wrapper
    header(class!="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2")
      section.flex-1.flex.justify-between.items-center
        a(href="/")
          img(src="https://res.cloudinary.com/karsoft92/image/upload/v1568059824/ks_logo.png" width="75px" height="75px")
      label(for="menu-toggle" class!="cursor-pointer lg:hidden block")
        img(src="https://res.cloudinary.com/karsoft92/image/upload/v1568060903/icons8-menu-64.png")

      input(type="checkbox" class="hidden" id="menu-toggle")
      section(class!="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu")
        nav
          ul(class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0 text-black")
            li
              a(class!="lg:p-4 py-3 px-0 block border-b-2 text-black hover:font-semibold border-transparent hover:border-gray-400" href="/") Home
            li
              a(class!="lg:p-4 py-3 px-0 block border-b-2 text-black hover:font-semibold border-transparent hover:border-gray-400" href="about") Our Company
            li
              a(class!="lg:p-4 py-3 px-0 block border-b-2 text-black hover:font-semibold border-transparent hover:border-gray-400" href="portfolio") Our Work
            li
              a(class!="lg:p-4 py-3 px-0 block border-b-2 text-black hover:font-semibold border-transparent hover:border-gray-400" href="contact") Contact
    block content

  footer.bg-gray-700.p-4
      section.flex.flex-wrap.mx-2
          section(class!="w-full max-w-md  lg:flex px-2 sm:w-full md:w-1/2 lg:w-1/3")
            ul(class!="sm:flex pb-4 ")
              li(class!="font-bold").mr-4.text-white
                a(href="/") Home
              li(class!="font-bold").mr-4.text-white
                a(href="about") Our Company
              li(class!="font-bold").mr-4.text-white
                a(href="portfolio") Our Work
              li(class!="font-bold").mr-4.text-white
                a(href="contact") Contact



