extends layout.pug
block content
  section(class!="w-full bg-gray-600 mx-auto text-white flex flex-wrap jumbotron-colored mb-4")
    h1(class!="text-4xl mt-4").font-bold.font-400.mb-4.text-center.w-full Our Work
    section(class!="text-center mb-3 w-full text-lg") Here are a few things we've worked on for our clients and ourselves

  section(class!="container mx-auto mb-4")
    section(class!="flex flex-wrap w-full mx-2 mb-4")


      section(class!="flex flex-col w-full md:w-1/2 lg:w-1/3 px-2 mb-4")
        section(class!=" border-4 bg-white-700  hover:border-4 border-indigo-800 px-3 py-2")
          section(class!="text-4xl font-bold text-gray-600") Edwuma Jobs
          p Edwuma Jobs is a product for Human Resources for the Ghanaian community. We are spirited to make the job search and recruitment process as painless as possible in Ghana.
          section(class!="mt-4 sm:mt-6")
            a(class!="inline-block bg-indigo-500 px-5 py-3 shadow-lg uppercase tracking-wider font-semibold sm:text-base text-sm hover:bg-indigo-400 rounded-lg text-white" href="https://edwuma.work" target="_blank") Visit App


      section(class!="flex flex-col w-full md:w-1/2 lg:w-1/3 px-2 mb-4")
        section(class!="border-4 bg-white-700 border-gray-700 px-3 py-2")
          section(class!="text-4xl font-bold text-gray-600") SGID Ghana
          p SGID is an African focused boutique consulting firm, supporting businesses to unlock growth potentials in their enterprises. The firm’s business operations cover Ghana, Liberia, Nigeria, Sierra Leone and Ivory Coast..
          section(class!="mt-4 sm:mt-6")
            a(class!="inline-block bg-indigo-500 px-5 py-3 shadow-lg uppercase tracking-wider font-semibold sm:text-base text-sm hover:bg-indigo-400 rounded-lg text-white" href="http://sgidghana.com" target="_blank") Visit Website


      section(class!="flex flex-col w-full md:w-1/2 lg:w-1/3 px-2 mb-4")
        section(class!="border-4 bg-white-700 border-gray-700 px-3 py-2")
          section(class!="text-4xl font-bold text-gray-600") Bahai Youth Ghana
          p The primary purpose of Baha’iyouthgh.faith is to share some of the activities that Baha’i youth are involved in to help transform their communities in and around Ghana.
          section(class!="mt-4 sm:mt-6")
            a(class!="inline-block bg-indigo-500 px-5 py-3 shadow-lg uppercase tracking-wider font-semibold sm:text-base text-sm hover:bg-indigo-400 rounded-lg text-white" href="http://bahaiyouthgh.faith" target="_blank") Visit Website


      section(class!="flex flex-col w-full md:w-1/2 lg:w-1/3 px-2 mb-4")
        section(class!="border-4 bg-white-700 border-gray-700 px-3 py-2")
          section(class!="text-4xl font-bold text-gray-600") Merbak Concrete Products
          p Merbak has been constructing and manufacturing superior quality concrete products with its products being used extensively for all segments of the marketplace including commercial, municipal and industrial projects.
          section(class!="mt-4 sm:mt-6")
            a(class!="inline-block bg-indigo-500 px-5 py-3 shadow-lg uppercase tracking-wider font-semibold sm:text-base text-sm hover:bg-indigo-400 rounded-lg text-white" href="http://merbakconcrete.com" target="_blank") Visit Website








