extends layout.pug
block content
  section(class!="w-full bg-gray-600 mx-auto text-white flex flex-wrap jumbotron-colored")
    h1(class!="text-4xl mt-4").font-bold.font-400.mb-4.text-center.w-full Our Work
    section(class!="text-center mb-3 w-full text-lg") Here are a few things we've worked on for our clients and ourselves






